


@font-face {
    font-family: $ff-LatoRegular;
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $ff-LatoMedium;
    src: url(../assets/fonts/Lato/Lato-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: $ff-LatoSemiBold;
    src: url(../assets/fonts/Lato/Lato-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $ff-LatoBold;
    src: url(../assets/fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $ff-LatoExtraBold;
    src: url(../assets/fonts/Lato/Lato-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}





