
$color-white: #FFFFFF;
$color-black: #000000;
$color-bg: #F1F0EE;
$color-brown: #BD8F5B;

$color-bg-hover: #F5F5F5;

$color-text: #607987;

$ff-LatoRegular: 'Lato-Regular';
$ff-LatoMedium: 'Lato-Medium';
$ff-LatoSemiBold: 'Lato-SemiBold';
$ff-LatoBold: 'Lato-Bold';
$ff-LatoExtraBold: 'Lato-ExtraBold';